<div class="container-fluid">
  <div class="row justify-content-center text-center" >
    <div class="col-12 p-0" style="margin-top: 100px">
      <div class="pt-2 pb-2 ps-1 pe-1 mat-elevation-z1">
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig">
          <div ngxSlickItem *ngFor="let slide of slides" style="margin: 0 2px">
            <img [src]="slide.lowImg" [alt]="slide.caption" class="img-style">
          </div>
        </ngx-slick-carousel>
        <app-modal [imageSrc]="selectedImage"
                   [caption]="selectedCaption"
                   [isModalOpen]="isModalOpen"
                   (closeModalEvent)="closeModal()">
        </app-modal>
      </div>
      <div class="mat-elevation-z1 pt-2 pb-2 ps-5 pe-5 bg-body-secondary content-wrapper">
        <h2 class="pt-4 pb-4 fs-4 fw-bold lh-base text-uppercase">Державний історико-культурний заповідник "Буша"</h2>
        <div class="about">
          <div class="about-left">
            <p>
              Державний історико-культурний заповідник "Буша" - єдиний заповідник у Вінницькій області. Він був створений за ініціативою місцевих органів влади згідно Постанови Кабінету Міністрів України в серпні 2000 року.
            </p>
            <p>
              Заповідник є культурно-просвітницьким, науково-дослідним закладом, що забезпечує вивчення, охорону, реставрацію і використання історико-культурної спадщини регіону і довкілля.
            </p>
            <p>
              Основними завданнями заповідника є:
            </p>
            <ol>
              <li>
                Охорона закріплених за заповідником об’єктів та пов’язаних з ними територій, творів монументального, образотворчого, декоративного та прикладного мистецтва, забезпечення належного використання пам’яток археології, містобудування та архітектури, реставрації пам’яток.
              </li>
              <li>
                Проведення пам’яткоохоронної, науково-дослідницької, культурно-освітньої та інформаційної роботи з метою духовного збагачення громадян, популяризації значущості історико-культурної спадщини у формуванні державності.
              </li>
            </ol>
            <p>
              Заповідник, площею 6,68 га , створено на основі комплексу об’єктів культурної спадщини. На території заповідника знаходяться 2 пам’ятки національного значення: скельний храм ІІ-V-ХVІ ст., підземні ходи та оборонна фортеця ХVІ - ХVІІ ст., а також багатошарові поселення трипільської, скіфської, пеньківської та давньоруської культури, середньовічне кладовище.
            </p>
            <p>
              Окрасою заповідника є парк кам’яної скульптури під відкритим небом, в якому нараховується 160 скульптур. Ці творіння виготовлені на протязі 21 року професійними скульпторами та народними умільцями.
            </p>
          </div>
          <div class="about-right">
            <div class="photo-collage">
              <img class="collage-img" *ngFor="let img of collage" [src]=img.lowImg [alt]=img.caption (click)="openModal(img.highImg, img.caption)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
