.footer {
  background-color: #f7faf9;
  padding: 20px;
  text-align: left;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.address, .sources {
  flex: 1;
  min-width: 250px;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

p, li {
  font-size: 1em;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}
