<footer class="footer">
  <div class="footer-content">
    <div class="address">
      <h4>Адреса:</h4>
      <p>Вінницька область,<br>
        Могилів-Подільський район, село Буша<br>
        <a href="mailto:busha.zapovidnik@gmail.com">busha.zapovidnik&#64;gmail.com</a>
      </p>
    </div>

    <div class="sources">
      <h4>Джерела інформації:</h4>
      <ul>
        <li><a href="https://vinrada.gov.ua/istoriko-kulturniy_kompleks.htm" target="_blank">
          Державний історико-культурний заповідник "Буша" – святиня Поділля</a></li>
        <li><a href="https://i-vin.info/news/podilska-svyatinya--istoriya-skelnogo-hramu-na-vinnichchini-7242.html" target="_blank">
          Подільська святиня — Історія скельного храму на Вінниччині</a></li>
        <li><a href="https://vn.20minut.ua/Nashe-mynule/davne-kozatske-kladovische-v-bushi--mistse-opovite-mistikoyu-i-legenda-11871057.html" target="_blank">
          Давнє козацьке кладовище в Буші</a></li>
      </ul>
    </div>
  </div>
</footer>
